.contents{
    margin-left: 17%; /* 留出Sidebar的宽度 */
    margin-top: 5%; /* 留出Topbar的高度，20px padding + 60px */
    padding: 40px; /* 内容区域的内边距 */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}